<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @appointment.phone_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time.strftime("%I:%M%p on %b %d") %>
  <%= @appointment.time_zone %>

</p>
<p><%= min = @appointment.update_reminder.to_i %></p>
<p><%=Time.now.localtime.strftime("%I:%M%p on %b %d") %></p>
<p>So here is the new set reminder time: <%= @appointment.time.localtime.strftime("%I:%M%p on %b %d")  %></p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
