<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @appointment.name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @appointment.phone_number %>
</p>

<p>
  <strong>Time:</strong>
  <%= @appointment.time %>
  <%= @appointment.time_zone %>

</p>
<p><%= min = @appointment.update_reminder.to_i %></p>
<p><%=Time.zone %></p>
<p>So here is the new time: <%= @appointment.trigger_update  %></p>


<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
