<!DOCTYPE html>
<html>
  <head>
    <title>ApptReminder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag "https://use.fontawesome.com/releases/v5.7.0/css/all.css" %>
    
  </head>
  <%= render '/layouts/header' %>

  <div class="jumbotron jumbotron-fluid">
	<div class="container">
		<%= image_tag("sweeti",size:"250x250", class:"img-responsive") %>
	  <body>
	    <%= yield %>
	  </body>
	</div>
  </div>

</html>
